* {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
    box-sizing: border-box;
}

.App-main2 {
    width: 100%;
    border: 1px solid #ff0000;
}


p {
    font-size: 16px;  
    font-weight: bold; 
    margin: 1% 5%;  
}

p.small-text {
    font-size: 12px;  
    color: #555;
}

p:nth-child(n) {
    margin-bottom: 3px;  
}


.Home-search-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ff0000;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10%;
    width: 90%;
    height: 10%;
    padding: 0%;
}

.Home-search-input {
    margin-left: 3%;
    border-radius: 10px;
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
    height: auto;
}

.Home-search-button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.Home-search-button img {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.custom-text-container,
.custom-text-container2,
.custom-text-container3 {
    padding-left: 5%;
    width: 95%;
}

.custom-text-container2 {
    margin-bottom: -1%;
}

.custom-text-container3 {
    margin-top: -1%;
}

.custom-text,
.custom-text2,
.custom-text3 {
    font-size: 130%;
    font-weight: bold;
}

.custom-text3 {
    font-size: 80%;
    color: #070707;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 1px;
}

.slide-image {
    width: 100%;
    height: 220px;
    display: block;
    margin: auto;
}

.dots {
    text-align: center;
    position: relative;
    bottom: 30px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}
.outer-container {
    margin: auto;
    width: 90%;
    height: 40%;
    /* 원하는 너비 설정 */
    overflow-x: auto;
    /* 가로 스크롤 허용 */
    overflow-y: hidden;
    /* 세로 스크롤 숨기기 */
    white-space: nowrap;
    margin-bottom: 5%;
    margin-top: 5%;

    /* 한 줄에 모든 요소 배치 */
    /* Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        width: 0;
        /* 가로 스크롤바 숨기기 */
        height: 0;
        /* 세로 스크롤바 숨기기 */
    }

    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer and Edge */
    -ms-overflow-style: none;

    ::-webkit-scrollbar {
        display: none;
    }
}
/* inner-container에 가로 정렬 및 간격 설정 */
.inner-container {
    display: flex;
    justify-content: flex-start; /* 버튼을 왼쪽으로 정렬 */

    /* 버튼 간 일정한 간격 유지 */
}

/* 각 버튼의 스타일 설정 */
.button-round {
    width: 60px;
    /* 버튼의 너비 설정 */
    height: 60px;
    /* 버튼의 높이 설정 */
    border-radius: 50%;
    /* 버튼을 동그랗게 만듦 */
    background-color: #f0f0f0;
    /* 버튼의 배경색 */
    display: flex;
    /* 이미지와 텍스트를 중앙에 배치하기 위해 flex 사용 */
    justify-content: center;
    align-items: center;
    position: relative;
    /* 이미지의 위치를 조정하기 위해 relative 설정 */
    overflow: hidden;
    /* 동그란 형태를 유지하기 위해 overflow 숨김 */
    margin-right: 3%;
    /* 오른쪽 마진으로 버튼 간격 조절 */
    flex-shrink: 0;
    background-image: url('/public/images/place4.png');
    /* 버튼의 배경 이미지 */
    background-size: cover;
    /* 이미지를 버튼에 맞게 크기 조절 */
    background-position: center;
    /* 이미지를 중앙에 위치시킴 */
    background-repeat: no-repeat;
    /* 이미지 반복 없음 */
}

.button-round img {
    position: absolute;
    /* 이미지 위치를 절대적으로 조정 */
    width: 60px;
    height: 60px;
    object-fit: cover;
    /* 이미지 크기를 버튼에 맞춤 */
    cursor: pointer;
}

.button-round span {
    position: relative;
    /* 텍스트의 위치를 상대적으로 조정 */
    z-index: 1;
    /* 이미지 위에 텍스트가 오도록 z-index 설정 */
    color: #ffffff;
    /* 하양색으로 설정 */
    font-weight: bold;
}

.macha-button-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
}

.macha-button-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.macha-button {
    border: none;
    border-radius: 20px;
    width: 40%;
    height: 80%; /* 버튼의 높이를 컨테이너의 80%로 설정합니다. */
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    outline: none;
    margin-right: -3%;  
    transition: transform 0.3s, opacity 0.3s;  /* 부드러운 변환 효과 */
}

.macha-button img {
    width: 100%;
    height: 25vh; /* 이미지가 부모 요소인 버튼의 높이에 맞게 조정됩니다. */
    border-radius: 20px;
}
.macha-button:hover,
.macha-button:active {
    /* 확대 효과 */
    transform: scale(1.1);
}
.macha-button-container:hover .macha-button {
    /* 다른 버튼들을 어둡게 만들기 */
    opacity: 0.6;
}

.macha-button-container:hover .macha-button:hover {
    /* 마우스를 올린 버튼은 기본 상태 유지 */
    opacity: 1;
}
.macha-button:active {
    /* 클릭 시 추가적인 스타일 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.footer-text-container {
    background-color: #f7f7f7;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    width: 100%;
}

.footer-text-container-text {
    display: inline-block;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.footer-text-container-text p {
    font-size: 12px;
    color: #555;
    line-height: 1.5;
    margin: 0;
}

.footer-text-container-text p br {
    margin-bottom: 8px;
    display: block;
}
