* {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    min-height: 100vh;
    position: relative;

}

.App-main2 {
    width: 100%;
    border: 1px solid #ff0000;
    overflow: auto;
    height: 170vh;
    /* 뷰포트의 높이를 기준으로 100% */

}

p,
h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 1% 5%;
    margin-bottom: 3px;
}

p.small-text {
    font-size: 12px;
    color: #555;
}

.Home-search-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ff0000;
    border-radius: 20px;
    margin: 5% auto;
    width: 90%;
    height: 5%;
}

.Home-search-input {
    margin-left: 3%;
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
}

.Home-search-button {
    cursor: pointer;
    background: transparent;
    border: none;
    width: 10%;
    height: 50%;
}

.Home-search-button img {
    width: 100%;
    height: 100%;
}

.custom-text-container,
.custom-text-container2,
.custom-text-container3 {
    padding-left: 5%;
    width: 95%;
}

.custom-text-container2 {
    margin-bottom: -1%;
}

.custom-text-container3 {
    margin-top: -1%;
}

.custom-text,
.custom-text2,
.custom-text3 {
    font-weight: bold;
}

.custom-text3 {
    font-size: 80%;
    color: #070707;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 10px 0;
}

.slide-image {
    width: 100%;
    height: 220px;
}

.dots {
    text-align: center;
    position: relative;
    bottom: 30px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.outer-container,
.macha-button-container {
    margin: auto;
    width: 90%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 5% 0;
}

.outer-container::-webkit-scrollbar,
.macha-button-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.inner-container {
    display: flex;
    justify-content: flex-start;
}

.button-round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 3%;
    flex-shrink: 0;
    background-image: url('/public/images/place4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-round img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.button-round span {
    z-index: 1;
    color: #ffffff;
    font-weight: bold;
}

.macha-button {
    border: none;
    border-radius: 20px;
    width: 40%;
    height: 80%;
    display: inline-block;
    background: transparent;
    cursor: pointer;
    outline: none;
    margin-right: -3%;
    transition: transform 0.3s, opacity 0.3s;
}

.macha-button img {
    width: 100%;
    height: 25vh;
    border-radius: 20px;
}

.macha-button:hover,
.macha-button:active {
    transform: scale(1.1);
}

.macha-button:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.macha-button-container:hover .macha-button {
    opacity: 0.6;
}

.macha-button-container:hover .macha-button:hover {
    opacity: 1;
}

.footer-text-container {
    margin-top: auto;
    background-color: #f7f7f7;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    /* Adjust according to footer height */
    display: none;
}

.footer-text-container-text {
    display: inline-block;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.footer-text-container-text p {
    font-size: 12px;
    color: #555;
    line-height: 1.5;
    margin: 0;
}

.footer-text-container-text p br {
    margin-bottom: 8px;
    display: block;
}

.favorite-menu-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.menu-box {
    display: flex;
    flex-direction: column;
}

.menu-button {
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}

.menu-button:hover {
    text-decoration: underline;
}
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #FD5E53 !important;
  }