.App-footer {
    height: 10vh;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #e7e7e7;
    width: 480px;
}

.App-footer .image-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    /* No border */
    background-color: transparent;
    /* No background */
    cursor: pointer;
}

.image-button img {
    width: 25px;
    height: 25px;
}