.App-main2 {
    width: 100%;
    height: calc(100vh - 100px);

    flex-direction: column;
    justify-content: space-between;
}
.place-card {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.place-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.place-info {
    display: flex;
    flex-direction: column;
    gap: 3px;  /* 텍스트 간격 줄이기 */
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.category-address {
    display: flex;
    align-items: center;
    gap: 5px;
}
.popular-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: -5%; */
}