/* Main Content Area */
.App-main2 {
    width: 100%;
    min-height: calc(100vh - 10vh);
    flex-direction: column;
    justify-content: space-between;
}

/* Padding for Result Containers */
.result-container,
.results-container {
    padding: 20px;
}

/* Result Item Area */
.result-item {
    position: relative;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-top: 0.2px solid rgb(206, 206, 206);
    border-bottom: 0.2px solid rgb(206, 206, 206);
}

/* Result Image */
.result-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

/* Favorite Icon Container */
.favorite-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 8px;
}

/* Hover effect for Favorite Icon */
.result-item:hover .favorite-container {
    background: rgba(255, 255, 255, 0.7);
}

/* Text and Rating Info Area */
.result-info {
    display: flex;
    flex-direction: column;
}

/* Shop Name Styling */
.result-info .shop-name {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/* General Text Styling */
.result-info p {
    margin: 5px 0;
}

/* Rating Area */
.rating {
    display: flex;
    align-items: center;
}

/* Star Image */
.rating img,
.star-image {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Favorite Icon Styling */
.results-container .result-favorite svg {
    font-size: 24px;
    color: #FD5E53;
}


/* Hashtag Container */
.hashtag-container {
    width: 100%;
    height: 50%;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Removing Scrollbar for Webkit browsers */
.hashtag-container::-webkit-scrollbar {
    display: none;

}

/* Hashtag Buttons */
.hashtag-button {
    display: flex;
    gap: 2%;
    border: none;
    background: none;
    font-size: 95%;
    text-decoration: none;
}

.hashtag-button:hover, .hashtag-button:active {
    text-decoration: underline;
    font-weight: bold;
    color: black; 
  }


.review-count {
    margin-left: 2ch; /* 별점과의 간격 조절 */
    color: grey;      /* 텍스트 색상을 회색으로 설정 */
}