.list {
    position: absolute;
    bottom: 1px;
    z-index: 1;
    width: 100%;
}

.list-item {
    border: 1px solid black;
    background-color: white;
    margin: 0 auto;
    border-radius: 20%;
    height: 40% ;
}

.slick-slide {
    padding-right: 4px;
}
