.myreview-container {
    padding: 20px;
    width: 480px;
    height: 550px;
}

.review-divider {
    width: 100%;
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}

.review-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-name {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    outline: none;
    transition: color 0.3s;
    display: inline-block;
}

.delete-btn:hover .delete-icon {
    color: #888;
}

.delete-icon {
    color: rgb(0, 0, 0);
}

.star-container {
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
}

.star-icon {
    color: yellow;
    margin-right: 5px;
}

.images-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    margin-top: 5px;
}

.review-image {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    object-fit: cover;
}
