.mytakeout-container {
    padding: 5%;
    width: 100%;
    height: auto;
}

.mytakeout-list {
    padding-left: 0;
}

.mytakeout-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3%;
    width: 100%;
    /* 아이템과 아이템 사이의 간격을 줍니다 */
}

.mytakeout-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.review-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mytakeout-review-button {
  border: none;
  background-color: #FD5E53;
  color: white;
  border-radius: 5px;
  width: 90%;
  height: 5vh;
  text-align: center;
  margin-top: 5%;
  font-size: 100%;
  align-self: center;
}


.mytakeout-store {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.mytakeout-store img {
    width: 30%;
    height: 20%;
    margin-right: 2%;
    /* 이미지와 정보 사이의 간격 */
}

.mytakeout-store-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 7%;
}

.mytakeout-store-info > p:first-child {
    font-size: 100%;
    font-weight: bold;
    width: 100%;
  }

  .mytakeout-store-info > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 80%;
  }

  .gray {
    color: #666;  /* 기본 회색 색상. 원하는 색상 코드로 변경 가능 */
}

.darker-text {
    color: #444;  /* 더 어두운 회색. 원하는 색상 코드로 변경 가능 */
}

  

.menu-detail {
    display: flex;
    justify-content: space-between;
}

.menu-detail p:first-child {
    flex: 1;
    text-align: left;
}

.menu-detail p:last-child {
    flex: 1;
    text-align: right;
}

.order-summary p {
    font-size: 120%;
}

.boldNumber {
    font-weight: bold;
}

.dateAndStatus {
    text-align: left;
}

.mytakeout-detail-button {
    border: none;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    width: 20%;
    height: 4vh;
    background-color: #f1f3f5;
    font-size: 80%;
    text-align: center;
    line-height: 4vh;
}