.mytakeout-container {
    padding: 5%;
    width: 100%;
    height: auto;
}

.mytakeout-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%; /* 아이템과 아이템 사이의 간격을 줍니다 */
}

.mytakeout-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.mytakeout-review-button{
    text-align: center;
    margin: 2% auto;
}

.mytakeout-store {
    display: flex;
    justify-content: flex-start;  /* 이미지와 정보를 왼쪽으로 정렬합니다 */
    align-items: center;
    width: 100%;
}

.mytakeout-store img {
    width: 20%;     /* 원하는 너비 설정 */
    height: 10%;  
    margin-right: 1%;  /* 이미지와 정보 사이의 간격 */
}

.mytakeout-store-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1%;
}

.menu-detail {
    display: flex;
    justify-content: space-between;
}

.menu-detail p:first-child {
    flex: 1;
    text-align: left;
}

.menu-detail p:last-child {
    flex: 1;
    text-align: right;
}
