.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FF745A;
}

.login-form {
    width: 300px;
    text-align: center;
}

.header {
    display: flex;
}

.header .logo-box {
    width: 30%;
}

.logo-box img {
    width: 100%;
}

.header .logo-name {
    width: 70%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 70%;
    height: 5vh;
    border-radius: 10px;
}

.sub-button {
    background: none;
    border: none;
    color: grey;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.sub-button:hover {
    text-decoration: none;
}

.login-btn {
    text-decoration: none;
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

.login-btn:hover {
    text-decoration: none;
}

.sub-fun {
    display: flex;
    justify-content: space-around;
}

.sns-title {
    text-align: center;
}

.sns-line {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.sns-fun {
    display: flex;
    justify-content: space-between;
}

.sns-1,
.sns-2,
.sns-3 {
    margin-top: 10px;
    width: 30%;
    height: 40px;
}

.sns-1 {
    background-color: red;
}

.sns-2 {
    background-color: orange;
}

.sns-3 {
    background-color: yellow;
}

.password-field {
    position: relative;
}

.password-field button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 35%;
    transform: translateY(-50%);
}

.passimg {
    width: 50%;
}

.input-field {
    margin-top: 10%;
}