.modal-main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 40%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    /* 지도보다 높은 z-index */
    transform: translate(-50%, -50%);
    /* 중앙 정렬 */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10%;
}

.modal-header p {
    margin: 0;
}

/* 선택적으로 버튼 스타일링 */
button {
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    /* 버튼을 가운데 정렬 */
    gap: 10px;
    /* 버튼 간의 간격 */
}

/* 선택적으로 버튼 스타일링 */
button {
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: center;
    /* 중앙 정렬 */
    align-items: center;
}

.modal-header p {
    text-align: center;
    flex-grow: 1;
    /* 텍스트를 중앙 정렬 */
}

.modal-header button {
    margin-left: auto;
    /* 버튼을 오른쪽으로 밀어냄 */
}