* {
  font-family: 'NanumSquareNeo-Variable', sans-serif !important;
  box-sizing: border-box;
}

body, html, body * {
  cursor: none;
}

.animated-cursor {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  z-index: 9999;
  opacity: 0.85;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.BV {
  width: 30%;
  margin: 0 auto;
  background-color: #fafafa;
}

.sellerPage {
  background-color: #B0EACD;
}

.userPage {
  background-color: #f1eceb;
}

.view{
  width: 100%;
  margin: 0 auto;
}

.MV {
  width: 100%;
  margin: 0 auto;
}
html a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 20px #0000000d;
}

body::-webkit-scrollbar {
  display: none; 
}

.App-main2 {
  width: 100%;
  border: 1px solid #ff0000;
}
