.App-main {
    flex: 1;
    background: #fff;
    padding-top: 0vh;
    /* adjust this value to avoid overlap with header */
    padding-bottom: 0vh;
    /* adjust this value to avoid overlap with footer */
    overflow-y: auto;
    /* /* scroll inside content */
  }
  .contentArea {
    padding: 20px;
    margin-top: 0px;
    background: #eee;
  }