.App-footer {
    position: fixed; /* 이렇게 고정 */
    bottom: 0;
    width: 30%; /* 전체 너비를 사용하려면 100%로 설정 */
    height: 10vh;
    /* left: 35%;
    right: 35%; */
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #e7e7e7;
}


.App-footer .image-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    /* No border */
    background-color: transparent;
    /* No background */
    cursor: pointer;
}

.image-button img {
    width: 25px;
    height: 25px;
}

.modal-container {
    position: fixed;
    /* 화면 전체에 대한 중앙 배치를 위해 fixed로 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    /* 모달이 화면의 맨 앞에 오도록 z-index 설정 */
}
