* {
  box-sizing: border-box;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  max-width: 480px;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 10px;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
  border: none;

  /* 추가 */
  /* 헤더 크기 고정 */
}

.Home-header-left-section {
  display: flex;
  align-items: center;
  padding-left: 10px;
  /* 왼쪽 여백 추가 */
}

.Home-header-center-section {
  text-align: center;
  font-size: 16px;
  margin-left: 50px;
}

.Home-header-right-section {
  display: flex;
  align-items: center;
  padding-right: 10px;
  /* 오른쪽 여백 추가 */
}

/*Home.js의 버튼 스타일*/
.Home-menu-icon {
  color: red;
  cursor: pointer;
}

.Home-login-signup-button {
  font-size: 12px;
  padding: 4px 16px;
  border-radius: 15px;
  border: 1px solid #ff0000;
  /* 테두리의 두께와 스타일을 지정합니다. */
  background-color: #ffffff;
  cursor: pointer;
}

.header-right-section img {
  /* 원하는 스타일을 여기에 추가 */
  width: 15px;
  height: 15px;

  /* 이미지 크기 변경 */
  border-radius: 5px;
  /* 모서리 둥글게 */
  margin-right: 10px;
  /* 오른쪽 여백 추가 */
}

/* 뒤로가기 버튼  */
.header-left-section .hotplace-back-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

/* 검색창 테두리 및 레이아웃 설정 */
/* 검색창 테두리 및 레이아웃 설정 */
.search-container {
  border-color: #ff813d;
  /* 테두리 색상 변경 */
  background-color: #ffffff;
  /* 배경색 하양으로 변경 */
  display: flex;
  margin-left: -40%;
  border: 1px solid #ff813d;
  /* 테두리 색상 변경 */
  border-radius: 20px;
  width: 190%;
  height: 190%;
}

/* 검색 버튼의 스타일 */
.search-button {
  background: none;
  /* 배경 없음 */
  border: none;
  /* 테두리 없음 */
}

.search-button img {
  /* 아이콘의 색상을 주황색으로 변경 */
  height: 18px;
  width: 18px;

}

/* 삭제 버튼의 스타일 */
.delete-button {
  background: none;
  /* 배경 없음 */
  border: none;
  /* 테두리 없음 */
}

/* Material-UI 아이콘의 색상을 변경 */
.delete-button .MuiSvgIcon-root {
  color: #ff813d;
  /* 아이콘의 색상을 주황색으로 변경 */
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  /* 활성화된 테두리 제거 */
}

/*HotPlace.js*/
/* ArrowBackIcon 아이콘에 대한 스타일 */
.header-left-section .hotplace-back-button .MuiSvgIcon-root {
  color: black;
  font-size: 24px;
  margin-right: 5px;
  /* 오른쪽 여백 추가, 필요한 경우 조절 가능 */
}

/* Hotplace Header 섹션 */
.hotplace-header-center-section {
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  /* 중앙 정렬 */
}

/* .hotplace-header-right-section {
  /* 필요한 스타일링을 여기에 추가 */
/* } */